<!--The content below is only a placeholder and can be replaced.-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" bind-src="path">-->
  <!--<input type="text" value="{{hello()}}">-->

<!--<input type="text" [value]="hello()">-->
<!--<input type="text" bind-value="hello()">-->

<!--<input [(ngModel)]="color">-->

<!--<button (click)="clicked(name)" >Click Me</button>-->
<!--<p [style.color] = 'name'>Hello World</p>-->


<app-nav [todo]=todoList (newTodo)="getTodo($event)" ></app-nav>
<!--<button (click)="printParentTodo()">Print Parent Todo</button>-->
